@media screen and (max-width: 992px) {
    .hero {
        min-height: inherit;
        padding-top: 30px;
    }

    .second {
        min-height: inherit;
    }

    .image-info {
        padding-bottom: 20px;
    }

    .right_header ul {
        display: none;
    }

    .btn .btn_buy {
        padding: 15px 30px;
        font-size: 1.2em;
    }

    .btn .btn_vk {
        padding: 12px 27px;
        font-size: 1.2em;
    }

    header {
        padding: 13px 0;
    }

    footer .footer--col {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }

    .hero img {
        max-width: 70%;
    }

    .first_page_screen p {
        text-align: center;
    }
}

